<html>
<head>
   <style>
      body {
    background-color:rgb(6, 168, 155);
}

p{
    color:white;
    font-family:Helvetica;
    font-size: 120%;
}
   </style>
</head>
   <body>
      <form action = '/input' method = "post">
         
         <p> Welcome to the tasks app. Please enter a task below and submit it.</p>
         <p>Tasks:</p>
         <p><input type = "text" name = "nm" /></p>
         <p><input type="date" id="date" name="task_date"></p>
         <p><input type = "submit" value = "Post Task" /></p>
      </form>   
   </body>
</html>